.video-player-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .custom-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
  }
  
  input[type='range'] {
    width: 100px;
  }
  